@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 46 100% 99%;
    --foreground: 27 40% 18%;
    --border: 40 33% 89%;
    --input: 40 33% 89%;
    --ring: 42 94% 65%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .section-padding {
    @apply py-16 md:py-24;
  }
}

